@font-face {
    font-family: 'Computer Modern';
    src: url('../assets/fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --md-text-font: 'Computer Modern', serif;
  }
  